//VARIAVEIS

//********* Cores


$cor-red: #b71d29;
$accent: #0080ff;


$body-color: #F7F7F7;
$bg-color: #e3e3e3;
$link-color: #4C4C4C;


//********* Grelha

$desktop-width: 1200px;
$medium-screen-width:1024px;
$tablet-width: 960px;
$phone-width: 768px;

// Filtro de cizentos
$grayscale_value: 90%;
